*{
	padding: 0px;
	margin: 0px;
    box-sizing: border-box;
}
body{
	background-image: url(fondo.jpg);
	background-size: 100%;
}
.comida1{
	background-color: black;
	color: white;
	height: 650px;
	width: 250px;
	text-align: center;
}
.titulos{
  background-position: center;
  box-sizing: content-box;
  text-align: center;
  font-size: 50px;
  color: white;
  text-shadow: 1px 1px 0px #a9a9a9, 
  2px 2px 0px #a2a2a2, 
  3px 3px 0px #b5b5b5, 
  4px 4px 0px black,
  5px 5px 0px black,
  10px 10px 3px black;
}
.oreo{
	width: 80%;
	height: 200px;
  border-radius: 0%;
}
#cara,#cara2,#cara3,#cara4 {
  width: 250px;
  height: 350px;
  margin:0 auto;
}
#trans,#trans2,#trans3,#trans4 {
  width: 100%;
  height: 100%;
  -webkit-transform-style: preserve-3d;
    -moz-transform-style: preserve-3d;
      transform-style: preserve-3d;
  -webkit-transition: transform 500ms ease-in-out;
    -moz-transition: transform 500ms ease-in-out;
      -o-transition: transform 500ms ease-in-out;
        transition: transform 500ms ease-in-out;
}	
#cara:hover #trans,#cara2:hover #trans2,#cara3:hover #trans3,#cara4:hover #trans4 {
  -webkit-transform: rotateY(180deg);
    -moz-transform: rotateY(180deg);
      ms-transform: rotateY(180deg);
        -o-transform: rotateY(180deg);
          transform: rotateY(180deg);
}
figure {
  position: absolute;
  width: 100%;
  height: 100%;
  margin:0 auto;
  -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
      backface-visibility: hidden;
}
figure.back,figure.back2,figure.back3,figure.back4 {
  -webkit-transform: rotateY(180deg);
    -moz-transform: rotateY(180deg);
      ms-transform: rotateY(180deg);
        -o-transform: rotateY(180deg);
          transform: rotateY(180deg);
  -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
      box-sizing: border-box;
}


@media (min-width:1065px){
#cara,#cara2,#cara3,#cara4{
    display: inline-block ;
   margin-left: 10px;
margin-top: 50px;
 }
.comida1{
  background-color: black;
  color: white;
  height: 650px;
  width: 250px;
  text-align: center;
}
.oreo{
  width: 80%;
  height: 200px;
  border-radius: 0%
}
.caja1, .caja2{
 display: inline-flex;
}
}
@media (min-width:600px) and (max-width:1064px){
  #cara,#cara2,#cara3,#cara4{
   margin-left: 70px;
margin-top: 50px;
width: 300px;
  height: 550px;
  }
  .comida1{
  background-color: black;
  color: white;
  height: 100%;
  width: 100%;
  text-align: center;
}

.oreo{
  width: 80%;
  height: 200px;
  border-radius: 30%;

}
.caja1, .caja2{
 display: inline-block;
}
}
@media (max-width:760px){
#cara,#cara2,#cara3,#cara4{
    display: list-item center;
   width: 400px;
  height: 550px;
  }
  .comida1{
  background-color: black;
  color: white;
  height: 100%;
  width: 100%;
  text-align: center;
}
  .oreo{
  width: 80%;
  height: 200px;
  border-radius: 100%;
}
}
@media (max-width:600px){
#cara,#cara2,#cara3,#cara4{
    display: list-item center;
   width: 400px;
  height: 550px;
  margin-bottom: 50px;
  }
  .comida1{
  background-color: black;
  color: white;
  height: 100%;
  width: 100%;
  text-align: center;
}
  .oreo{
  width: 80%;
  height: 200px;
  border-radius: 100%;
}
}