*{
	padding: 0px;
	margin: 0px;
    box-sizing: border-box;
}
body{
	background-image: url(fondo.jpg);
	background-size: 100%;
}
.comida1{
	background-color: black;
	color: white;
	height: 600px;
	width: 300px;
	text-align: center;
}
.titulos{
  background-position: center;
  box-sizing: content-box;
  text-align: center;
  font-size: 50px;
  color: white;
  text-shadow: 1px 1px 0px #a9a9a9, 
  2px 2px 0px #a2a2a2, 
  3px 3px 0px #b5b5b5, 
  4px 4px 0px black,
  5px 5px 0px black,
  10px 10px 3px black;
}
.oreo{
	width: 200px;
	height: 200px;
}
#cara,#cara2,#cara3,#cara4 {
  width: 320px;
  height: 260px;
  margin:0 auto;
}
#trans,#trans2,#trans3,#trans4 {
  width: 100%;
  height: 100%;
  -webkit-transform-style: preserve-3d;
    -moz-transform-style: preserve-3d;
      transform-style: preserve-3d;
  -webkit-transition: transform 500ms ease-in-out;
    -moz-transition: transform 500ms ease-in-out;
      -o-transition: transform 500ms ease-in-out;
        transition: transform 500ms ease-in-out;
}	
#cara:hover #trans,#cara2:hover #trans2,#cara3:hover #trans3,#cara4:hover #trans4 {
  -webkit-transform: rotateY(180deg);
    -moz-transform: rotateY(180deg);
      ms-transform: rotateY(180deg);
        -o-transform: rotateY(180deg);
          transform: rotateY(180deg);
}
figure {
  position: absolute;
  width: 100%;
  height: 100%;
  margin:0 auto;
  -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
      backface-visibility: hidden;
}
figure.back,figure.back2,figure.back3,figure.back4 {
  -webkit-transform: rotateY(180deg);
    -moz-transform: rotateY(180deg);
      ms-transform: rotateY(180deg);
        -o-transform: rotateY(180deg);
          transform: rotateY(180deg);
  -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
      box-sizing: border-box;
}

@media (min-width:992px){
#cara,#cara2,#cara3,#cara4{
    display: inline-block ;
  }

.oreo{
  width: 300px;
  height: 300px;
  border-radius: 10%
}

}
@media (min-width:768px) and (max-width:1111px){
  #cara,#cara2{
    display: inline-flex ;
    margin-bottom: 400px;
  }
#cara3,#cara4{
    display: inline-block;
  }  
}
.oreo{
  width: 200px;
  height: 200px;
  border-radius: 100%;
  margin-top: 50px;
}
@media (max-width:767px){
#cara,#cara2,#cara3,#cara4{
    display: list-item center;
    margin-bottom: 400px;
  }
}